.player {
    margin: auto;
    margin-top: 4vh;
    max-width: calc(1000px + 68px);
    max-height: calc(563px + 68px);
    border: 4px solid #f4523e;
    border-radius: 30px;
    padding: 30px;
}

video,
iframe {
    width: 100%;
    height: 100%;
}

/*workaround Chrome: poster esce dai bordi*/
video {
    max-height: 562.5px;
}

.iframeContainer {
    position: relative;
    padding-bottom: 56.25%;
    /*56.25 è 16/9 per mantenere ratio*/
    height: 0;
    overflow: hidden;
}

.iframeContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
}