<footer>
  <div id="social">
    <a href="https://instagram.com/fake" title="Instagram" onclick="event.preventDefault()"><img
        src="assets/pics/instagram.png" alt="Scrivici"></a>
    <a href="https://facebook.com/fakeprofile" title="Facebook" onclick="event.preventDefault()"><img
        src="assets/pics/facebook.png" alt="Facebook"></a>
    <a href="https://twitter.com/404" title="Twitter" onclick="event.preventDefault()"><img
        src="assets/pics/twitter.png" alt="Twitter"></a>
  </div>
</footer>
