<div>
    <h1 (click)="logPreferiti()">I miei preferiti</h1>
</div>
<div class="errorMessage" *ngIf="errorMessage">
    <h1>{{errorMessage}}</h1>
</div>
<div class="form-group" *ngIf="!errorMessage"><select [(ngModel)]="searchFilter" (mousedown)="$event.preventDefault()"
        style="cursor: default">
        <option value="title">Filtra per titolo</option>
    </select>
    <input type="text" [(ngModel)]="searchTerm" class="form-control" id="cerca"
        placeholder="Inserisci un termine di ricerca"></div>
<div class="flex-container">
    <div class="flex-item" *ngFor="let movie of (movies$ | async) |filter:searchFilter:searchTerm"
        (click)="getMovieDetail(movie.id)">
        <div class="card-container">
            <div class="card">
                <img src={{movie.image}} loading="lazy">

            </div>

        </div>
        <div class="hovered">
            <img src="assets/pics/fi-rr-play.svg">
            <h4>{{movie.title}}</h4>
            <h5>CAST: {{listToString(movie.starList)}}</h5>
            <p>REGISTI: {{listToString(movie.directorList)}}</p>
        </div>
    </div>
    <app-overlay *ngIf="isOverlayVisible" (closeOverlay)="hideOverlay($event)" [movie]="movie"
        (addPref)="addLike($event)" (removePref)="removeLike($event)"></app-overlay>